body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
}
#sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 1em;
  overflow-y: auto;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
#sidebar h2 {
  margin-top: 0;
}
#sidebar ul {
  list-style: none;
  padding: 0;
}
#sidebar li {
  cursor: pointer;
  padding: 0.5em;
  margin-bottom: 0.2em;
  border-radius: 4px;
}
#sidebar li:hover {
  background-color: #ddd;
}
#content {
	flex: 1;
	padding: 2em;
	overflow: auto;
	height: 100vh;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
}
th, td {
  padding: 0.5em;
  border: 1px solid #ccc;
  text-align: left;
}
th {
  background-color: #eee;
}
.weapon-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chart-container {
	width: 100%;
	max-width: 500px;
	margin-bottom: 30px;
}

.stats-container {
	display: flex;
	flex-wrap: wrap;
}

.stats-table {
	width: 100%;
	max-width: 320px;
	min-width: 320px;
}

.container {
	display: flex;
	gap: 20px;
}

.stats-container:last-child {
	width: 100%;
	gap: 20px;
}

.active {
	background: red;
}

.attachments-container {
	width: 300px;
}

.attachments-container button {
	width: 100%;
}

.ratings {
	display: flex;
	gap: 10px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #eee;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: column;
}

.rating {
	display: none;
    flex-direction: column;
    align-items: center;
}

.rating h3 {
	margin: 0;
}

.rating p {
    font-size: 30px;
    margin: 10px 0px;
    font-weight: bold;
}

.rate {
	display: none;
	flex-direction: column;
    align-items: center;
}

.rate button {
    width: 60px;
}

#rating {
    width: 60px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 2px 0;
}

.left {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
}

.right {
	width: 200px;
}

* {
	box-sizing: border-box;
}

.show {
	display: flex;
}

.hide {
	display: none;
}
